.carousel { padding: 250px;  margin: auto; width: 400px; }

.contenedor1 {
    margin-right: 100px;
    margin-left: 100px;
    width: auto;
    background-color: #a000a0;
    height: 45px;
    border-radius: 12px;
    }
/*.flayer {margin-left: 100px; margin-right: -90px ;border-radius: 15px;}*/
body {background-color: #a7ffeb;}
p {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 220%;
}