.carousel { padding: 250px;  margin: auto; width: 400px; }

@keyframes cambio {
    0% {margin-bottom: 0;}
}

.contenedor1 {
    width: auto;
    background-color: #ff5917;
    height: 40px;
    border-radius: 5px;
    }

img { border-radius: 20px;}